
DesignPatterns/Singleton/bin/Debug/Singleton.exe
DesignPatterns/Singleton/bin/Debug/Singleton.exe.config
DesignPatterns/Singleton/bin/Debug/Singleton.pdb
DesignPatterns/Singleton/obj/Debug/Singleton.csproj.CoreCompileInputs.cache
DesignPatterns/Singleton/obj/Debug/Singleton.csproj.FileListAbsolute.txt
DesignPatterns/Singleton/obj/Debug/Singleton.csprojAssemblyReference.cache
DesignPatterns/Singleton/obj/Debug/Singleton.exe
DesignPatterns/Singleton/obj/Debug/Singleton.pdb
